body {
  font-family: Arial;
  background: #121212; /* black background */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  background: #1e1e1e; /* dark grey card */
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  text-align: center;
  color: white;
}

h2 {
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  background: #2c2c2c;
  color: white;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 10px;
  background: #333333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #555555;
}

h3 {
  margin-top: 15px;
  color: #00ffcc;
}
